body{
    background: url("06.jpg");
    background-size: 1024px auto;
/*    background-position: center;*/
    background-attachment:fixed;
/*    background-repeat:no-repeat;*/
    height: 1200px;
    text-align: center;
/*    margin: 80px 30px;*/
}

.topic{
    color: #bbf029;
    text-align: center;
    font-weight: 900;
    font-family:Myriad Pro;
    font-size: 3.5em;
    letter-spacing: 0px;
    padding: 0px;
    margin-top: 90px;
}
.Content{
/*    width: 700px;*/
    color: #e6d3a5;
    text-align: center;
    display:inline-block;
    font-family:Myriad Pro;
    font-weight: 00;
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: 0.4px;
    padding: 50px 160px 80px;
/*    position: center;*/
    margin-top: px;
}

input.MyButton {
  color: #5a5a5a;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border: 0px solid #ffe500;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: -100px;
  transition: 0.5s color;
}

input.MyButton:hover {
  color: #bbf029;
}
.Footer{
    color: #585858;
    text-align: center;
    font-family:Myriad Pro;
    font-size: 7px;
    letter-spacing: 1.2px;
    position: relative;
    bottom: 40px;
    width:100%;
/*    height:100px;*/
}



